<h1>Listing centers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @centers.each do |center| %>
  <tr>
    <td><%= center.name %></td>
    <td><%= link_to 'Show', center %></td>
    <td><%= link_to 'Edit', edit_center_path(center) %></td>
    <td><%= link_to 'Destroy', center, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Center', new_center_path %>
